@font-face {
  font-family: "GothamRounded-Bold";
  src: url("../fonts/GothamRounded-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamRounded-Book";
  src: url("../fonts/Gotham Rounded Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamRounded-Medium";
  src: url("../fonts/GothamRounded-Medium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}